<!-- Templates -->
<div class="grid-item col-md-3 col-sm-4 col-xs-6">
  <div class="grid-content card mx-1 my-4">
    <div class="grid-sense">
      <!-- Usually shown -->
      <div class="event-usual-hide">
        <div class="card-body">
          <!-- Usually hidden -->
        </div>
      </div>
    </div>
    <div class='grid-control card-footer card-hide'>
      <button type="button" class="grid-expand btn btn-outline-dark" data-toggle="button" aria-pressed="false"
        autocomplete="off"><i class="fa fa-plus"></i></button>
      <button type="button" class="grid-secondary-hide btn btn-outline-dark" data-toggle="button" aria-pressed="false"
        autocomplete="off"><i class="fa fa-comments-o"></i></button>
      <div class="event-usual-hide btn-group float-right" role="group" aria-label="Basic example">
        <!-- Secondary hidden -->
      </div>
    </div>
  </div>
</div>