<!-- Templates: TODO: the z-index -->
<div id="function_card" class="position-fixed fixed-bottom 
col-md-3 col-sm-3 col-lg-3" style="z-index: 2000"> 
  <div class="grid-content card mx-1 my-4">
    <div class="grid-sense">
      <!-- Usually shown -->

      <div class="event-usual-hide">
        <div class="card-body">
          <!-- Usually hidden -->
          <select id="event-filter" class="form-control d-inline m-1 col-6">
            <option selected="selected">这里</option>
            <option>朋友</option>
            <!-- <option>热点</option> -->
            <option>自己</option>
          </select>
        </div>
      </div>
    </div>
    <div class='grid-control card-footer d-flex align-items-center'>
      <button type="button" class="grid-expand-function btn btn-outline-dark" data-toggle="button" aria-pressed="false"
        autocomplete="off"><i class="fa fa-plus"></i></button>

    </div>
  </div>
</div>