<!-- Templates -->
<div class="grid-item col-md-3 col-sm-4 col-xs-6">
  <div class="grid-content card mx-1 my-4">
    <div class="grid-sense">
      <div class="event-meta" style="visibility:hidden; height:0;">
        <!-- Hidden event META here -->
      </div>
      <!-- icon -->
      <div class="event-icon position-absolute bg-primary text-white rounded border border-dark px-1 py-0 m-2">
        <i class="fa fa-chess-queen fa-sm"></i>
      </div>

      <!-- two image -->
      <img class="card-img-top event-image"
        src="https://images.pexels.com/photos/877695/pexels-photo-877695.jpeg?auto=compress&cs=tinysrgb&h=350"
        alt="Card image cap" />
      <img class="card-profile event-profile mt-n5 mx-4" src="https://randomuser.me/api/portraits/women/81.jpg"
        alt="profile-image" />
      <div class="event-display card-body">
        <h5 class="card-title event-name">
          <!-- Name here -->
        </h5>
        <div class="card">
          <div class="event-repost row no-gutters">
            <!-- image -->
            <div class="col-2">
              <img class="card-profile-normal" src="https://randomuser.me/api/portraits/women/81.jpg"
              alt="profile-image" />
            </div>
            
            <div class="col-10 p-1">
              <p class="card-text event-summary">
                <!-- Repost Summary here. No  -->
                this
              </p>
              
            </div>
            
            
          </div>
          <div class="block" style="display:none"></div>
        </div>
        <div class="event-usual-hide">
          <div class="card-body">
            <div class="block" style="display:none"></div>
            <p class="card-text event-content-hide">
              <!-- Content here -->
            </p>
            <div class="event-comment-hide mt-2">
              <textarea class="event-comment-content form-control" rows="6" placeholder="请输入评论"></textarea>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class='grid-control card-footer card-hide'>
      <button type="button" class="1grid-like btn btn-outline-warning" data-toggle="button" aria-pressed="false"
        autocomplete="off"><i class="fa fa-star"></i></button>
      <button type="button" class="grid-expand event-card btn btn-outline-dark" data-toggle="button"
        aria-pressed="false" autocomplete="off"><i class="fa fa-plus"></i></button>
      <button type="button" class="grid-comment-hide btn btn-outline-dark" data-toggle="button" aria-pressed="false"
        autocomplete="off"><i class="fa fa-comments"></i></button>
      <div class="event-usual-hide btn-group float-right" role="group" aria-label="Basic example">
        <div class="grid-comment-control-hide">
          <button type="button" class="btn btn-outline-dark">Sumbit</button>
          <button type="button" class="btn btn-outline-dark">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>