<!-- 开启了自动转义 -->
{% autoescape on %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<style type="text/css">
  body {
    padding-top: 60px;
  }

  @media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
  }

  .fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
</style>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>{% block title %}base{% endblock %}</title>

  <!-- Bootstrap -->
  <link href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js'%}"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  {% block css %}
  {% endblock %}
</head>

<body>
  {% include 'nav.html' %}
  <!-- 引入内容 -->
  {% block content %}{% endblock %}
  <!-- 引入注脚 -->
  {% include 'footer.html' %}
  <!-- 引入脚本 -->
  {% block jsScript %}
  {% endblock %}
  <!-- 页面大小 -->
  <script>
    $(function () {
      function footerPosition() {
        $("footer").removeClass("fixed-bottom");
        var contentHeight = document.body.scrollHeight, //网页正文全文高度
          winHeight = window.innerHeight; //可视窗口高度，不包括浏览器顶部工具栏
        if (!(contentHeight > winHeight)) {
          //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
          $("footer").addClass("fixed-bottom");
        } else {
          $("footer").removeClass("fixed-bottom");
        }
      }
      footerPosition();
      $(window).resize(footerPosition);
    });
  </script>

</body>

</html>
{% endautoescape %}