<!--
    all_blocks = left_blocks[upper: map, lower: recommendation]
                &right_blocks[info]
    -->

{% extends 'base.html' %} <!--baseline for map app-->

{% load staticfiles %}

{% block title %}
    地图
{% endblock %}

{% block css %}
    {% include 'map/components/map_block_head.html' %}
    {% include 'map/components/info_block_head.html' %}

    <!-- general css -->
    <link rel="stylesheet" type="text/css" href="{% static 'map/css/my_card.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'map/css/my_fade.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'map/css/my_shape.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'map/css/my_switch.css' %}">
    <style>
        body, html {height: 100%;}
    </style>

    <!-- map_base.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'map/css/map_base.css' %}">

    <!-- JS -->
    <!-- map block dynamic -->
    <script src="{% static 'map/js/map_block_dynamic.js' %}" type="module"></script>
    <script src="{% static 'map/js/on_refresh.js' %}" type="module"></script>
{% endblock %}

{% block content %}
<body>

    <div class="row" id="all_blocks" style="height:100%">
        <div class="col-md-9 my_fade" id="left_blocks" style="height:100%">

            <div id="map_block" class="my_fade" style="height: 80%">
                {% include 'map/components/map_block.html' %}
            </div>

            <div id="recom_block" class="my_fade" style="height:20%">
                {% include 'map/components/recom_block.html' %}
            </div>

        </div>

        <div class="col-md-3 map_block_dynamic_fade" id="right_blocks" style="height:100%">
            <div id="info_block" class="my_fade" style="height:100%">
                {% include 'map/components/info_block.html' %}
            </div>

        </div>
    </div>

</body>
{% endblock %}



