{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}注册{% endblock %}
{% block content %}
<style>
    .errorlist {
        color: red;
    }
</style>
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
<link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
<body style="background-image: url({% static 'image/galax6.jpg' %});background-size:100%;">
    <div class="flex-center">
        <div class="container">
            <div class="flex-center">
                <div class="unit-1-2 unit-1-on-mobile">
          <form class='form-register' action="/register/" method="post">

              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}

              {% csrf_token %}

              <h2 class="text-center" style="color:floralwhite">欢迎注册</h2>
              <div class="form-group">
                    {{ register_form.username.errors }}
                    <label for="{{ register_form.username.id_for_label }}" style="color:floralwhite">用户名:</label>
                  {{ register_form.username}}
                  {% if register_form.username.help_text %}
                  <p class="help text-small text-muted">{{ register_form.username.help_text|safe }}</p>
                  {% endif %}
              </div>
              <div class="form-group">
                    {{ register_form.password1.errors }}
                    <label for="{{ register_form.password1.id_for_label }}" style="color:floralwhite">密码：</label>
                  {{ register_form.password1 }}
              </div>
              <div class="form-group">
                    {{ register_form.password2.errors }}
                    <label for="{{ register_form.password2.id_for_label }}" style="color:floralwhite">再次输入：</label>
                  {{ register_form.password2 }}
              </div>
              <div>
                <em>密码强度：</em>
                <em id="strength"></em>
                <div id="strengthLevel" class="strengthLv0"></div>
              </div>
              <div class="form-group">
                    {{ register_form.email.errors }}
                    <label for="{{ register_form.email.id_for_label }}" style="color:floralwhite">邮箱：</label>
                  {{ register_form.email }}
              </div>
              <div class="form-group">
                    {{ register_form.phone_number.errors }}
                    <label for="{{ register_form.phone_number.id_for_label }}" style="color:floralwhite">电话号码：</label>
                    {{ register_form.phone_number }}
                </div>
              <div class="form-group">
                    {{ register_form.sex.errors }}
                    <label for="{{ register_form.sex.id_for_label }}" style="color:floralwhite">性别：</label>
                  {{ register_form.sex }}
              </div>
              
              <div class="form-group">
                  {{ register_form.captcha.errors }}
                  <label for="{{ register_form.captcha.id_for_label }}" style="color:floralwhite">验证码：</label>
                  {{ register_form.captcha }}
              </div>

              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>

          </form>

        </div>
    </div>
</div>
</div> <!-- /container -->

    <script>
    $('.captcha').click(function () {
        $.getJSON("/captcha/refresh/", function (result) {
            $('.captcha').attr('src', result['image_url']);
            $('#id_captcha_0').val(result['key'])
        });
    });
    </script>
{% endblock %}